<!-- pagina de cadastro da empresa -->


<!-- pagina de cadastro do candidato -->


<!-- pagina de login, de cadastro, vagas em oferta. -->
<!DOCTYPE html>
<html lang="br"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Estágio Fácil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <meta HTTP-EQUIV="refresh" CONTENT="5"> -->

<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head><body>

<div class="container">

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Estágio Fácil</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#login-empresa" data-toggle="modal" data-target=".login-empresa"></a></li>
        <li><a href="#"></a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- 
		Nome 			nome
		CNPJ - cnpj
		Telefone- telefone
		Email  email
-->

    <form action="cadastrar-empresa" class="form-horizontal" method="POST" id="formCad">
     
       <div class="form-group">
          <div class="col-md-2">
            <label>Nome Fantasia</label>
          </div>    
          <div class="col-md-3">
            <input name="nome" type="text" class="required form-control">
          </div>    
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>CNPJ</label>
          </div>
          <div class="col-md-3">
            <input name="cnpj" type="text" class="form-control required cnpj">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Telefone</label>
          </div>
          <div class="col-md-3">
            <input name="telefone" type="text" class="form-control required telefone">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Email</label>
          </div>
          <div class="col-md-3">
            <input name="email" type="text" class="form-control required email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label>Senha</label>
          </div>
          <div class="col-md-3">
            <input name="senha" type="password" class="form-control required">
          </div>
        </div>

        <button type="POST" class="btn btn-primary" type="submit">Cadastrar</button>

      </form>
 

</div> <!-- /.container -->

  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <script src="../bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="../bootstrap/js/jquery-mask-plugin.js"></script>
  
  <script type="text/javascript" src="../bootstrap/js/jquery-validate.js"></script>



  <script type="text/javascript">
  $(document).ready(function(){
    $(".telefone").mask("(99) 9999-9999");
  });
  </script>

   <script>
    $(document).ready(function(){
      
      $("#formCad").validate();

    });
  </script>

</body>